@model Ferramenta_Scrumt.MODEL.Projeto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>
        Projeto
    </h3>
    <div class="col-md-10 col-xs-8">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Cadastros</a>
            </li>
            <li class="#">Projeto</li>
            <li class="active">Detalhes</li>
        </ul>
    </div>

</div>
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4>Detalhes do Projeto @Html.DisplayFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })</h4>
                    <hr />
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_Projeto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DisplayFor(model => model.ID_Projeto, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao, "Projeto: ", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DisplayFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Data_Inicio, "Data Ínicio: ", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DisplayFor(model => model.Data_Inicio, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Data_Fim, "Data Fim: ", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DisplayFor(model => model.Data_Fim, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                </header>
            </section>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Projeto }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Voltar", "Index", 0, new { @class = "btn btn-danger" })
        </div>

    </div>
</div>
