@model IEnumerable<Ferramenta_Scrumt.MODEL.Quadro_tarefas>

@{
    ViewBag.Title = "Quadro de Tarefas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>
        Quadro de Tarefas
    </h3>
    <div class="col-md-10 col-xs-8">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                <a href="#">Backlog</a>
            </li>
            <li class="active">Quadro de Tarefas</li>
        </ul>
    </div>
    <div class="col-md-2 col-xs-8">
        <p>
            @Html.ActionLink("Adicionar Historia", "Create", 0, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
<div class="wrapper">

    <div class="col-md-3">
        <div class="panel">
            <header class="panel-heading">
                A Fazer
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <ul class="to-do-list ui-sortable" id="sortable-todo">
                @foreach (var item in Model)
                {
                    <span>
                        @if (item.Situacao == "A Fazer")
                        {
                        <li class="clearfix">
                            <p class="todo-title">
                                
                                    @Html.DisplayFor(modelItem => item.Historia)
                                
                            </p>
                        </li>
                        }
                    </span>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <header class="panel-heading">
                Em Execução
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <ul class="to-do-list ui-sortable" id="sortable-todo">
                    @foreach (var item in Model)
                    {
                        <span>
                            @if (item.Situacao == "Em Execução")
                            {
                                <li class="clearfix">
                                    <p class="todo-title">

                                        @Html.DisplayFor(modelItem => item.Historia)

                                    </p>
                                </li>
                            }
                        </span>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <header class="panel-heading">
                Em Teste
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <ul class="to-do-list ui-sortable" id="sortable-todo">
                    @foreach (var item in Model)
                    {
                        <span>
                            @if (item.Situacao == "Em Teste")
                            {
                                <li class="clearfix">
                                    <p class="todo-title">

                                        @Html.DisplayFor(modelItem => item.Historia)

                                    </p>
                                </li>
                            }
                        </span>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <header class="panel-heading">
                Done (Pronto)
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                    <a class="fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <ul class="to-do-list ui-sortable" id="sortable-todo">
                    @foreach (var item in Model)
                    {
                        <span>
                            @if (item.Situacao == "Done")
                            {
                                <li class="clearfix">
                                    <p class="todo-title">

                                        @Html.DisplayFor(modelItem => item.Historia)

                                    </p>
                                </li>
                            }
                        </span>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>

