@model Ferramenta_Scrumt.MODEL.Equipe

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>
        Projeto
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="/Home/Index">Home</a>
        </li>
        <li>
            <a href="/Projeto/Index">Projetos</a>
        </li>
        <li class="active">Adicionar Projeto</li>
    </ul>
</div>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">

                        <section class="panel">
                            <header class="panel-heading custom-tab">
                                <ul class="nav nav-tabs">
                                    <li class="">
                                        <a href="~/Projeto/Edit" data-toggle="tab">Projeto</a>
                                    </li>
                                    <li class="active">
                                        <a href="#about2" data-toggle="tab">Membros</a>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane " id="home2">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="about2">
                                        <div class="container">
                                            <br>
                                            @Html.DropDownList("ID", new SelectList(ViewBag.Projeto, "Text", "Value"))
                                            @Html.DropDownList("Descricao", new SelectList(ViewBag.Projeto, "Value", "Text"))
                                            <h4>
                                                Equipe
                                            </h4>
                                            @Html.DropDownList("Nome_Membro", new SelectList(ViewBag.Nome_Membro, "Value", "Text"), htmlAttributes: new { @id = "pre-selected-options", multiple = "multiple" })
                                            <br>
                                        </div>
                                        <hr>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Adicionar" class="btn btn-primary" />
                                    @Html.ActionLink("Voltar", "Index", 0, new { @class = "btn btn-danger" })
                                </div>
                            </div>

                        </section>

                    </section>
                </div>
            </div>
        </section>
    }

</body>
